@charset "utf-8";
  a:link{
	text-decoration:none;
	  color:black;
	  line-height: 20px;
}

a:visited{
	color: black;
}
a:hover{
	color: red;
}
#Cot1{
	width: 215px;
	background: #E2D6D6;
	top:3px;
	position: absolute;
	height: 150px;
	text-align: center;
}
#Cot2{
	width: 215px;
	background: #E2D6D6;
	left: 215px;
	top:3px;
	position: absolute;
	height: 150px;
	text-align: center;
}

#Cot3{
	width: 215px;
	background: #E2D6D6;
	left: 430px;
	top:3px;
	position: absolute;
	height: 150px;
	text-align: center;

}
#Cot4{
	width: 215px;
	background: #E2D6D6;
	left: 645px;
	top:3px;
	position: absolute;
	height: 150px;
	text-align: center;

}
#Cot5{
	width: 215px;
	background: #E2D6D6;
	left: 860px;
	top:3px;
	position: absolute;
	height: 150px;
	text-align: center;
}
#Cot6{
	width: 215px;
	background: #E2D6D6;
	top:3px;
	position: absolute;
	height: 150px;
	left: 1075px;
	border-left-width: 2px;
	border-left-style: dotted;
	text-align: center;
	
	
}
#footer{
	border-top-width: 3px;
	width: 1300px;
	border-top-style: solid;
	bottom:0px;
	position: absolute;
	height: 330px;
	left:100px;
}
#Cot7{
	width: 400px;
	background: #6AB5A5;
	position: absolute;
	height: 150px;
	line-height: 2px;
	top:5px;
	
}
#Cot8{
	width: 175px;
	background: #6AB5A5;
	left: 400px;
	position: absolute;
	height: 150px;
	text-align: center;
	border-left-width: 2px;
	border-left-style: dotted;
	top:5px;
	
	
}
#Cot9{
	width: 175px;
	background: #6AB5A5;
	left: 575px;
	position: absolute;
	height: 150px;
	border-left-width: 2px;
	border-left-style: dotted;
	text-align: center;
	top:5px;
	
	
}
#Duoi{
	border-top-width: 3px;
	width: 1300px;
	border-top-style: solid;
	top:160px;
	position: absolute;
	height: 150px;
	
}