<!doctype html>
<html>
<head>
	
     <link rel="stylesheet" type="text/css" href="./dinhdang.css">
	

</head>
<body>
	<div id="footer">
 
   <div id="Cot1">
				
					<a href="#"><b>Trang chủ</b>  </a> <br/>
				<a  href="#"><b>Video</b> </a><br/>
				<a href="#"><b>Ảnh</b> </a>	<br/>
				<a href="#"><b>Infographics</b> </a><br/>	
			    <a href="#"><b>Mới Nhất</b>  </a><br/>
				<a href="#"><b>Xem Nhiều</b> </a><br/>
				<a href="#"><b> Tin Nóng</b> </a>	<br/>
				
	   
		</div>
   <div id="Cot2">
		
				<a href="#"> Thời Sự </a><br/>	
				<a href="#"> Góc Nhìn </a>	<br/>
			    <a href="#"> Thế Giới </a><br/>
				<a href="#"> Kinh Doanh </a><br/>
				<a href="#"> Giải Trí </a><br/>
														</div> 
   <div id="Cot3">
		<a href="#"> Thể Thao </a><br/>
				<a href="#"> Pháp Luật </a><br/>	
				<a href="#"> Giáo dục </a>	<br/>
			    <a href="#"> Sức Khỏe </a><br/>
				<a href="#"> Đời Sống </a><br/>
				<a href="#"> Du lịch </a><br/>
		</div> 
   <div id="Cot4">
		<a href="#"> Khoa Học </a><br/>
				<a href="#"> Số Hóa </a><br/>	
				<a href="#"> Xe </a>	<br/>
			    <a href="#"> Ý Kiến </a><br/>
				<a href="#"> Tâm Sự </a><br/>
				<a href="#"> Hài </a><br/>
		</div> 
   <div id="Cot5">
		<a href="#"> Rao Vặt </a><br/>
				<a href="#"> Shop VnExpress </a><br/>	
				<a href="#"> Starup </a>	<br/>
			    <a href="#"> Pay VnExpress </a><br/>
				<a href="#"> Kid-lab </a><br/>
				<a href="#"> Mua Ảnh </a><br/>
				<a href="#"> Vhome </a>		 <br/> 
		</div>
   <div id="Cot6">
	   <p><u> Tải Ứng Dụng</u> </p>
	   <a href="#"> <b>VnExpress</b> </a><br/>
	   
		<a href="#"> <b> International </b> </a>
		</div>
		<div id="Duoi">
	<div id="Cot7">
		<p> <b> Báo tiếng Việt nhiều người xem nhất </b></p>
		<p>Thuộc Bộ Khoa học Công nghệ </p>
		<p> Số giấy phép: 06/GP-BTTTT ngày 03/01/2014 </p>
		<p> Tổng biên tập: Phạm Hiếu </p>
		<p>Địa chỉ: Tầng 5, Tòa nhà FPT, 17 phố Duy Tân, Cầu Giấy, Hà Nội </p>
		<p>Điện thoại: 024 7300 8899 - máy lẻ 4500 </p>
		</div>
	<div id="Cot8">
		<p> <b> Theo dõi VnExpress trên</b></p>
		<a href="#"> <i> Facebook</i> </a> <br/>
		<a href="#"> <i> Twitter</i> </a> <br/>
		<a href="#"> <i> Youtube </i> </a> 
		</div>
	<div id="Cot9">
		<p> <b> Đường dây nóng</b></p> 
		<p> <b>083.888.0123
(Hà Nội)

 </b></p>
		<p> <b>082.233.3555(TP. Hồ Chí Minh)
 </b></p>
		</div>
			</div>
	</div>
	
</body>
</html>
